@charset "UTF-8";
.container {
  max-width: 1650px;
  width: 86%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width:1599px) {
  .container {
    width: calc(100% - 80px);
  }
}
@media (max-width:1439px) {
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  line-height: 1.25;
  background-color: #0B1D26;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000c2;
  border: 1px solid #dddddd6c;
}

.landing {
  position: relative;
}
.landing.has-modal .wrapper {
  transform: translateY(15vh) scale(0.9);
}
.landing.has-modal .wrapper::before {
  display: block;
}
@media (max-width: 767px) {
  .landing.has-modal .wrapper {
    transform: translateY(100px) scale(0.9);
  }
}
.landing.has-modal .nav {
  z-index: 10;
}
.landing.has-modal .nav a {
  transform: translateY(0);
}
.landing.has-modal .nav a:nth-child(2) {
  transition-delay: 0.2s;
}
.landing.has-modal .nav a:nth-child(3) {
  transition-delay: 0.3s;
}
.landing.has-modal .nav a:nth-child(4) {
  transition-delay: 0.4s;
}
.landing.has-modal .hambuger-menu--nav {
  display: block;
}

.wrapper {
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  display: none;
}

.nav {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.nav__social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__social a {
  text-decoration: none;
  margin: 0 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}
.nav__social a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s;
}
.nav__social a:hover:before {
  width: 110%;
  height: 110%;
}
.nav__social a.icon-mail:hover {
  border: 1px solid #0072c6;
}
.nav__social a.icon-mail::before {
  background-color: #0072c6;
}
.nav__social a.icon-mail:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-mail {
  position: relative;
  font-size: 24px;
  color: #0072c6;
  transition: 0.5s;
}
.nav__social a.icon-facebook:hover {
  border: 1px solid #3b5999;
}
.nav__social a.icon-facebook::before {
  background-color: #3b5999;
}
.nav__social a.icon-facebook:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-facebook {
  position: relative;
  font-size: 24px;
  color: #3b5999;
  transition: 0.5s;
}
.nav__social a.icon-telegram:hover {
  border: 1px solid #0077b5;
}
.nav__social a.icon-telegram::before {
  background-color: #0077b5;
}
.nav__social a.icon-telegram:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-telegram {
  position: relative;
  font-size: 24px;
  color: #0077b5;
  transition: 0.5s;
}
.nav__social a.icon-github:hover {
  border: 1px solid #6e5494;
}
.nav__social a.icon-github::before {
  background-color: #6e5494;
}
.nav__social a.icon-github:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-github {
  position: relative;
  font-size: 24px;
  color: #6e5494;
  transition: 0.5s;
}
.nav__social a.icon-codepen:hover {
  border: 1px solid #212121;
}
.nav__social a.icon-codepen::before {
  background-color: #212121;
}
.nav__social a.icon-codepen:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-codepen {
  position: relative;
  font-size: 24px;
  color: #212121;
  transition: 0.5s;
}
.nav__social a.icon-steam:hover {
  border: 1px solid #7da10e;
}
.nav__social a.icon-steam::before {
  background-color: #7da10e;
}
.nav__social a.icon-steam:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-steam {
  position: relative;
  font-size: 24px;
  color: #7da10e;
  transition: 0.5s;
}
.nav__social a.icon-snapchat:hover {
  border: 1px solid #eec900;
}
.nav__social a.icon-snapchat::before {
  background-color: #eec900;
}
.nav__social a.icon-snapchat:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-snapchat {
  position: relative;
  font-size: 24px;
  color: #eec900;
  transition: 0.5s;
}
.nav__social a.icon-twitter:hover {
  border: 1px solid #55acee;
}
.nav__social a.icon-twitter::before {
  background-color: #55acee;
}
.nav__social a.icon-twitter:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-twitter {
  position: relative;
  font-size: 24px;
  color: #55acee;
  transition: 0.5s;
}
.nav__social a.icon-instagram:hover {
  border: 1px solid #e4405f;
}
.nav__social a.icon-instagram::before {
  background-color: #e4405f;
}
.nav__social a.icon-instagram:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-instagram {
  position: relative;
  font-size: 24px;
  color: #e4405f;
  transition: 0.5s;
}
.nav__social a.icon-npm:hover {
  border: 1px solid #c12127;
}
.nav__social a.icon-npm::before {
  background-color: #c12127;
}
.nav__social a.icon-npm:hover i.fa {
  color: #ffffff;
  transform: scale(1.15);
}
.nav__social a i.fa-npm {
  position: relative;
  font-size: 24px;
  color: #c12127;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .nav__social {
    flex-wrap: wrap;
  }
  .nav__social > div {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .nav {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .nav a {
    font-size: 1.5em;
    line-height: 45px;
    margin: 0 15px;
  }
}

.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.hero__navbar {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 10;
}
.hero__navbar .row {
  align-items: center;
  justify-content: space-between;
}
.hero__navbar .account {
  font-size: 17px;
  color: #ffffff;
}
.hero__navbar .account i {
  margin-right: 3px;
}
@media (max-width: 767px) {
  .hero__navbar {
    top: 16px;
  }
}
.hero__logo img, .footer__item span.logo img {
  width: 100px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .hero__logo img, .footer__item span.logo img {
    width: 75px;
  }
}
.hero__image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__image .overlay {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(180deg, #0b1d268f 50%, #0b1d267c 50%);
}
@media (max-width: 767px) {
  .hero::before {
    height: 100px;
  }
}
.hero__social {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .hero__social {
    display: none;
  }
}
.hero__social-content {
  display: flex;
  align-items: center;
  color: #ffffff;
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: 0 0;
  margin-left: 15px;
}
.hero__social-content span {
  font-weight: bold;
  margin-right: 15px;
}
.hero__social-content a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  transition: 0.5s;
}
.hero__social-content a:hover {
  color: #FBD784;
  text-shadow: 0 0 10px currentColor;
}
.hero__social-content a i {
  transform: rotate(-90deg);
}
.hero__step-layout {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 1000;
}
.hero__step-layout * {
  display: block;
  text-align: right;
}
.hero__step-layout a {
  padding: 10px 15px;
  color: #ffffff;
  border-right: 2px solid;
  position: relative;
}
.hero__step-layout a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -3px;
  height: 2px;
  width: 0;
  background-color: #FBD784;
  transition: 0.4s;
}
.hero__step-layout a::after {
  content: attr(data-num);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  color: #FBD784;
}
.hero__step-layout a:hover, .hero__step-layout a.active {
  color: #FBD784;
  font-weight: bold;
  color: transparent;
  text-decoration: none;
}
.hero__step-layout a:hover:before, .hero__step-layout a.active:before {
  width: 100%;
}
.hero__step-layout a:hover::after, .hero__step-layout a.active::after {
  right: 15px;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 767px) {
  .hero__step-layout {
    display: none;
  }
}

.main {
  margin-top: -200px;
  position: relative;
  margin-bottom: 200px;
}
@media (max-width: 767px) {
  .main {
    margin-top: -200px;
    position: relative;
    margin-bottom: 100px;
  }
}

.image-text {
  width: 100%;
}
.image-text__wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .image-text__wrap {
    flex-direction: column;
  }
}
.image-text__content {
  max-width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .image-text__content {
    max-width: 100%;
    flex: 0 0 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.image-text__label {
  position: relative;
  display: flex;
  align-items: center;
}
.image-text__label span.stt {
  font-size: 15em;
  line-height: 1;
  font-weight: 600;
  background: url("./../image/fire.jpg") no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  animation: moveBg 50s linear infinite;
  color: transparent;
  opacity: 0.5;
}
.image-text__label span.title {
  color: #FBD784;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
.image-text__label span.title::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #FBD784;
  position: absolute;
  bottom: -10px;
  left: 0;
}
@media (max-width: 767px) {
  .image-text__label span.stt {
    font-size: 8em;
  }
  .image-text__label span.title {
    font-size: 16px;
  }
}
.image-text__text {
  margin-top: -50px;
  padding: 0px 100px 40px 150px;
  color: #ffffff;
  position: relative;
}
.image-text__text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  height: 50%;
  width: 1px;
  background-color: #ffffff;
}
.image-text__text h4 {
  font-size: 64px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 27px;
}
.image-text__text p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 27px;
}
.image-text__text a.read-more {
  text-decoration: none;
  font-weight: 600;
  color: #FBD784;
}
.image-text__text a.read-more::after {
  content: "";
  font-family: "FontAwesome";
  margin-left: 10px;
}
@media (max-width: 767px) {
  .image-text__text {
    padding: 0px 0px 20px 0;
    margin-top: 0;
  }
  .image-text__text::before {
    display: none;
  }
  .image-text__text h4 {
    font-size: 32px;
  }
  .image-text__text p {
    font-size: 16px;
  }
}
.image-text__image {
  max-width: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  min-height: 720px;
  background-size: cover;
  background-position: center;
  padding-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  position: relative;
}
.image-text__image .thumb-img {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-text__image .thumb-img > div {
  margin: 0 20px;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.image-text__image .thumb-img > div:hover {
  transform: scale(1.1);
}
.image-text__image .thumb-img > div:hover::before {
  border: 1px solid #FBD784;
}
.image-text__image .thumb-img > div::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 1px solid #ffffff3b;
  border-radius: 15px;
}
.image-text__image::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -15px;
  width: 100%;
  height: 100%;
  background: linear-gradient(-30deg, #ffffff1e, transparent);
  z-index: -2;
}
.image-text__image::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -30px;
  width: 100%;
  height: 100%;
  background: linear-gradient(-30deg, #ffffff0e, transparent);
  z-index: -1;
}
@media (max-width: 767px) {
  .image-text__image {
    max-width: 100%;
    flex: 0 0 100%;
    min-height: 500px;
  }
  .image-text__image .thumb-img {
    bottom: -37.5px;
  }
  .image-text__image .thumb-img > div {
    margin: 0 10px;
    width: 75px;
    height: 75px;
  }
}
.image-text--right .image-text__content {
  order: 1;
  padding-left: 100px;
}
@media (max-width: 767px) {
  .image-text--right .image-text__content {
    order: 0;
    padding-left: 0px;
  }
}
.image-text--right .image-text__label span.stt {
  background: url("./../image/wave.jpg") no-repeat;
  -webkit-background-clip: text;
}
.image-text--right .image-text__image {
  order: 0;
}
@media (max-width: 767px) {
  .image-text--right .image-text__image {
    order: 1;
  }
}

.footer {
  margin-bottom: 120px;
}
.footer__item {
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.footer__item span {
  display: block;
}
.footer__item span.logo {
  margin-bottom: 24px;
}
.footer__item span.text {
  line-height: 32px;
}
.footer__item span.subtext {
  margin-top: auto;
}
.footer__item span.label-title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  color: #FBD784;
  font-weight: bold;
}
.footer__item ul {
  list-style: none;
  margin-bottom: 0;
}
.footer__item ul li:not(:last-child) {
  margin-bottom: 16px;
}
.footer__item ul li a {
  line-height: 32px;
  color: #ffffff;
  font-weight: 500;
}
@media (max-width: 767px) {
  .footer {
    margin-bottom: 30px;
  }
}

.divider {
  margin: 100px 0;
  width: 0;
  max-width: 100%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}
.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100vw;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.116);
  z-index: -1;
}
@media (max-width: 767px) {
  .divider {
    margin: 100px 0 50px 0;
  }
}

.hambuger-menu {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.hambuger-menu.on {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%) translateY(-200px);
}
.hambuger-menu.on svg {
  width: 150px;
  height: 150px;
}
.hambuger-menu.on .line {
  stroke: #eb4d4b;
}
.hambuger-menu:hover .line {
  stroke: #4cd137;
}
.hambuger-menu:focus {
  outline: 0;
}
.hambuger-menu svg {
  display: block;
  width: 75px;
  height: 75px;
}
.hambuger-menu .line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.hambuger-menu .line.top,
.hambuger-menu .line.bottom {
  stroke-dasharray: 50px 600px;
  stroke-dashoffset: 0px;
}
.hambuger-menu .line.cross {
  stroke-dasharray: 50px 60px;
  stroke-dashoffset: 0px;
}
.hambuger-menu.on .line.top, .hambuger-menu.on .line.bottom {
  stroke-dasharray: 70.71px 600px;
  stroke-dashoffset: -392px;
}
.hambuger-menu.on .line.cross {
  stroke-dasharray: 50px 60px;
  stroke-dashoffset: 51px;
}
.hambuger-menu .line.cross {
  transition: 0.35s stroke-dasharray ease 0.35s, 0.35s stroke-dashoffset ease 0.35s, 0.35s stroke ease 0s;
}
.hambuger-menu .line.top {
  transition: 0.525s stroke-dasharray ease 0s, 0.525s stroke-dashoffset ease 0s, 0.35s stroke ease 0s;
}
.hambuger-menu .line.bottom {
  transition: 0.525s stroke-dasharray ease 0.35s, 0.525s stroke-dashoffset ease 0.35s, 0.35s stroke ease 0s;
}
.hambuger-menu.on .line.cross {
  transition: 0.35s stroke-dasharray ease 0s, 0.35s stroke-dashoffset ease 0s, 0.35s stroke ease 0s;
}
@media (max-width: 767px) {
  .hambuger-menu svg {
    display: block;
    width: 50px;
    height: 50px;
  }
  .hambuger-menu.on svg {
    width: 75px;
    height: 75px;
  }
}

@keyframes moveBg {
  0% {
    background-position: 0% 30%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/*# sourceMappingURL=style.css.map */
